/* Use box-sizing */

/* html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} */

/* asap-regular - latin  (https://google-webfonts-helper.herokuapp.com) */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), 
    url('/fonts/asap-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ 
    url('/fonts/asap-v11-latin-regular.woff') format('woff');  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body, html, #__next {
  height: 100%;
  display: grid;
}

body {
  font-family: Asap, system-ui;
  background-color: #eee;
}

a {
  color: #067df7;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

h1 {
  margin-top: 0;
}

header nav {
  width: 100%;
}